<h2>update: {{movie.title}}</h2>
<form action="/movies/update/{{movie._id}}" method="POST">
  <label for="title">Title: </label>
  <input value="{{movie.title}}" id="title" type="text" name="title" />
  <label for="genre">Genre: </label>
  <input value="{{movie.genre}}" id="genre" type="text" name="genre" />
  <label for="plot">Plot: </label>
  <input value="{{movie.plot}}" id="plot" type="text" name="plot" />
  <br />
  <label for="cast">Cast: </label><br />
  {{#each starringCelebs}}
    <input
      id="cast"
      value={{_id}}
      type="checkbox"
      name="cast"
      checked
    />{{name}}
  {{/each}}
  {{#each remainingCelebs}}
    <input id="cast" value={{_id}} type="checkbox" name="cast" />{{name}}
  {{/each}}
  <button type="submit">Update</button>
</form>
{{error}}